{% extends 'base.html.twig' %}

{% block title %}association - show{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% if app.user and app.user is same as(association.owner) %}
    <a href="{{path('app_association_update', {slug:association.slug})}}"><input type="button" value="Modifier"></a>
    <a href="{{path('app_association_delete', {id:association.id})}}"><input type="button" value="Supprimer"></a>
{% elseif app.user %}
    <a href="{{path('app_report_association', {id:association.id})}}"><input type="button" value="Signaler"></a>
{% endif %}

<h1>{{association.name}}</h1>
<p>association de {{ association.owner.pseudonym }}</p>
<p>Déscription : {{ association.description }}</p>

{% if not association.pendding and association.imageUrl %}
    <img src="{{association.imageUrl}}" alt="{{association.name}}" class="img-fluid">
{% endif %}

<p>{{association.address.address}}</p>
<div id="map" class="iframe-container"></div>

{% if not association.pendding %}
    {% if app.user and app.user is same as(association.owner) %}
        <a href="{{path('app_association_delete_all_com', {id:association.id})}}"><input type="button" value="Supprimer Tout"></a>
    {% endif %}

    <small class="form-text text-muted mb-2"><strong>Astuce :</strong> penser rejoindre notre discord : <a href={{discord_link}}>Annonce ton JDR</a> pour echanger plus facilement.</small>
    {% for commentary in commentaries %}
    <div style="border:solid 1px black; padding: 10px; margin-bottom: 20px;">
        {% if app.user and (app.user is same as(association.owner) or  app.user is same as(commentary.owner)) %}
            <a href="{{path('app_association_delete_com', {id:association.id,comment_id:commentary.id})}}"><input type="button" value="Supprimer"></a>
        {% endif %}
        {% if app.user and (app.user is not same as(commentary.owner)) %}
        <a href="{{path('app_report_commentary', {id:commentary.id})}}"><input type="button" value="Signaler"></a>
        {% endif %}
        <p>{{commentary.owner.pseudonym}}</p>
        <p>{{commentary.commentary}}</p>
    </div>
    {% endfor %}
    {{ knp_pagination_render(commentaries) }}

    {% if app.user %}
    {{ form_start(form) }}
        {{ form_row(form.commentary) }}
        <input type="submit" class="btn" value="commenter"/>
    {{ form_end(form) }}
    {% endif %}
{% endif %}

{% endblock %}

{% block javascripts %}
<script>
var party = [{
    lat:{{association.address.lat}},
    lng:{{association.address.lng}},
    address:'{{association.address.address}}'
}];
</script>
{{ encore_entry_script_tags('map') }}
{% endblock %}