{% extends 'base.html.twig' %}

{% block title %}party - create / update{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('party_form') }}
{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.name) }}
    <div class="form-group">
        <label for="select2-address">Address{{ form_errors(form.address.address) }}</label>
        <select class="custom-select" id="select2-address"></select>
    </div>
    {{ form_widget(form.address, { 'attr': {'class': 'd-none'} }) }}
    <div class="date_container">
    {{ form_row(form.dateStart) }}
    </div>
    <div class="date_container">
    {{ form_row(form.dateFinish) }}
    </div>
    {{ form_row(form.description) }}
    {{ form_widget(form._token) }}
    <input type="submit" class="btn" value="Create"/>
{{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('party_form') }}
{% endblock %}