{% extends 'base.html.twig' %}

{% block title %}party - show{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% if app.user and app.user is same as(event.owner) %}
    <a href="{{path('app_event_update', {id:event.id})}}"><input type="button" value="Modifier"></a>
    <a href="{{path('app_event_delete', {id:event.id})}}"><input type="button" value="Supprimer"></a>
{% else %}
    <a href="{{path('app_report_event', {id:event.id})}}"><input type="button" value="Signaler"></a>
{% endif %}

<h1>{{event.name}}</h1>
<p>annonce de {{ event.owner.pseudonym }}</p>
<p>{{ event.dateStart.date }}</p>
<p>{{ event.dateFinish.date }}</p>
<p>Déscription : {{event.description}}</p>

<p>{{event.address.address}}</p>
<div id="map" class="iframe-container"></div>

{% if app.user and app.user is same as(event.owner) %}
    <a href="{{path('app_event_delete_all_com', {id:event.id})}}"><input type="button" value="Supprimer Tout"></a>
{% endif %}

{% for commentary in commentaries %}
<div style="border:solid 1px black; padding: 10px; margin-bottom: 20px;">
    {% if app.user and (app.user is same as(event.owner) or  app.user is same as(commentary.owner)) %}
        <a href="{{path('app_event_delete_com', {id:event.id,comment_id:commentary.id})}}"><input type="button" value="Supprimer"></a>
    {% endif %}
    {% if app.user and (app.user is not same as(commentary.owner)) %}
    <a href="{{path('app_report_commentary', {id:commentary.id})}}"><input type="button" value="Signaler"></a>
    {% endif %}
    <p>{{commentary.owner.pseudonym}}</p>
    <p>{{commentary.commentary}}</p>
</div>
{% endfor %}
{{ knp_pagination_render(commentaries) }}

{% if app.user %}
{{ form_start(form) }}
    {{ form_row(form.commentary) }}
    <input type="submit" class="btn" value="commenter"/>
{{ form_end(form) }}
{% endif %}

{% endblock %}

{% block javascripts %}
<script>
var party = [{
    lat:{{event.address.lat}},
    lng:{{event.address.lng}},
    address:'{{event.address.address}}'
}];
</script>
{% endblock %}