{% extends 'base.html.twig' %}

{% block title %}party {% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('party_form') }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div id="map"></div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
const ROUTES = {
    APP_PARTY_SHOW : "{{ url('app_party_show', {id: 0})|slice(0,-1) }}",
    APP_EVENT_SHOW : "{{ url('app_event_show', {id: 0})|slice(0,-1) }}",
    APP_ASSOCIATION_SHOW : "{{ url('app_association_show', {id: 0})|slice(0,-1) }}",
};
const GAMES = [ {% for game in allGames %} { value: '{{game.id}}', label : '{{game.Name}}', img : '{{ game.imageUrl?? "https://cdn.pixabay.com/photo/2014/12/14/18/33/cube-568105_960_720.jpg" }}' }, {% endfor %}  ];
</script>
{% endblock %}