{% extends 'layout.html.twig' %}

{% block title %}party - show{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<h1>{{party.partyName}}</h1>
<p>annonce de {{ party.owner.pseudonym }}</p>
<p>{{ party.date.date }}</p>
<p>Déjà inscrit : {{party.alreadySubscribed}}</p>
<p>Place restante : {{party.maxPlayer - (party.alreadySubscribed + party.registeredPlayer|length)}}</p>
<p>Accepte les mineur : {{party.minor ? 'Oui':'Non'}}</p>
<p>Jeux éditée : {{party.gameEdition ? 'Oui':'Non'}}</p>
<p>Nom du jeux : {{party.gameName.name}}</p>
<p>Scénario éditée : {{party.scenarioEdition ? 'Oui':'Non'}}</p>
<p>Nom du scénario : {{party.nameScenario}}</p>
<p>Campagne ouverte : {{party.openedCampaign ? 'Oui':'Non'}}</p>
<p>Déscription : {{party.gameDescription}}</p>

{% if party.address.address %}
<p>{{party.address.address}}</p>
<div id="map" class="iframe-container"></div>

{% else %}
<p>partie en ligne</p>
{% endif %}

{% if app.user and app.user != party.owner %}
    {% if app.user in party.registeredPlayer %}
    <a href="{{path('app_party_remove', {id:party.id})}}"><input type="button" value="se desincrire"></a>
    {% else %}
    <a href="{{path('app_party_add', {id:party.id})}}"><input type="button" value="s inscire"></a>
    {% endif %}
{% endif %}

{% for commentary in party.commentaries %}
<div style="border:solid 1px black; padding: 10px; margin-bottom: 20px;">
    <p>{{commentary.owner.pseudonym}}</p>
    <p>{{commentary.commentary}}</p>
</div>
{% endfor %}

{{ form_start(form) }}
    {{ form_row(form.commentary) }}
    <input type="submit" class="btn" value="commenter"/>
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
<script>
var party = {
    name:'{{party.partyName}}',
    lat:{{party.address.lat}},
    lng:{{party.address.lng}}
};
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&callback=initMap"></script>
{% endblock %}