{% extends 'layout.html.twig' %}

{% block title %}party - show{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<h1>{{party.partyName}}</h1>
<p>annonce de {{ party.owner.pseudonym }}</p>
<p>{{ party.date.date }}</p>
<p>Déjà inscrit : {{party.alreadySubscribed}}</p>
<p>Place restante : {{party.maxPlayer - (party.alreadySubscribed + party.registeredPlayer|length)}}</p>
<p>Accepte les mineur : {{party.minor ? 'Oui':'Non'}}</p>
<p>Jeux éditée : {{party.gameEdition ? 'Oui':'Non'}}</p>
<p>Nom du jeux : {{party.gameName.name}}</p>
<p>Scénario éditée : {{party.scenarioEdition ? 'Oui':'Non'}}</p>
<p>Nom du scénario : {{party.nameScenario}}</p>
<p>Campagne ouverte : {{party.openedCampaign ? 'Oui':'Non'}}</p>
<p>Déscription : {{party.gameDescription}}</p>

{% if party.address %}
<p>{{party.address}}</p>
<div id="map" class="iframe-container"></div>
<style>
    .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
    }
    .iframe-container > *{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
</style>
<script>
    function initMap() {
        var myLatLng = {lat:{{party.lat}}, lng:{{party.lng}}};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: myLatLng,
            disableDefaultUI: true
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: '{{party.partyName}}'
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
{% else %}
<p>partie en ligne</p>
{% endif %}

{% if app.user and app.user != party.owner %}
    {% if app.user in party.registeredPlayer %}
    <a href="{{path('app_party_remove', {id:party.id})}}"><input type="button" value="se desincrire"></a>
    {% else %}
    <a href="{{path('app_party_add', {id:party.id})}}"><input type="button" value="s inscire"></a>
    {% endif %}
{% endif %}

{% endblock %}

{% block javascripts %}
{% endblock %}