<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Annonce ton jdr - {% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1">Navbar</span>
                <a class="btn btn-outline-secondary" href="{{path('app_search')}}">Recherche</a>
                {% if app.user %}
                    <a class="btn btn-outline-secondary" href="{{path('app_party_create')}}">Crée une partie</a>
                    <a class="btn btn-outline-secondary" href="{{path('app_event_create')}}">Crée un event</a>
                    {% if app.user.association %}
                        <a class="btn btn-outline-secondary" href="{{path('app_association_show', {id:app.user.association.id})}}">Votre association</a>
                    {% else %}
                        <a class="btn btn-outline-secondary" href="{{path('app_association_create')}}">Ajouter votre association</a>
                    {% endif %}
                    {{ app.user.pseudonym }}
                    <a class="btn btn-outline-secondary" href="{{path('app_logout')}}">logout</a>
                {% else %}
                <span>
                    <a class="btn btn-outline-success" href="{{path('app_login')}}">login</a>
                    <a class="btn btn-outline-secondary" href="{{path('app_register')}}">register</a>
                </span>
                {% endif %}
            </nav>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success alert-dismissible fade show">
                    <img class="rotating" src="{{ asset('build/poney-licorne.jpg') }}" alt="poney-licorne">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger alert-dismissible fade show">
                    <img class="rotating" src="{{ asset('build/poney-licorne.jpg') }}" alt="poney-licorne">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
