<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Annonce ton jdr - {% block title %}{% endblock %}</title>
        <link href="{{ asset('build/app.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Navbar</span>
            {% if app.user %}
                {{ app.user.pseudonym }}
            {% else %}
            <span>
                <a class="btn btn-outline-success" href="{{path('app_login')}}">login</a>
                <a class="btn btn-outline-secondary" href="{{path('app_register')}}">register</a>
            </span>
            {% endif %}
        </nav>
        {% block body %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
